body {
    background-color: rgb(244, 0, 47); 
}        
h1 {
    color: #00fcfc;
   font-family: 'Rampart One', cursive;
    text-align: center;
    font-size: 67;
}
a:link {
    color: #10ecec;
}
a:visited {
    color: #04f6f6;
}
a:hover {
    color:#0bf6f6;
}
a {
    text-decoration: none;
    font-size: 28pt;
}

div.header{
    width: 80%;
    background-color: #ff0033
}
div.left{
    float:left;
    width:50%;
    height: 600px;
    background-color: #eb00ff
}
div.right{
    float:right;
    width: 50%;
    height: 600px;
    background-color: rgb(255, 137, 0)
}
div.footer{
    display:inline-block;
    width: 100%;
    height: 150px;
    background-color: #45008b
}
*{
    margin: 0px;
    padding: 0px;
}